.header, .container{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 60px;
    background: linear-gradient(to left, #E1AA74, #3876BF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.external{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h2{
    color: #BA704F;
}

.Moninp{
    
    padding: 5px; 
    width: 70%;
}
.Tusinp{
    
    padding: 5px; 
    width: 70%;
}

.Winp{
    
    padding: 5px; 
    width: 70%;
}
.Tinp{
    
    padding: 5px; 
    width: 70%;
}
.Finp{
    
    padding: 5px; 
    width: 70%;
}

#myButton{
    padding: 5px;
   background: #3876BF;
   border: none;
   font-size: 20px;
   color:#363062;
}

.inner{
    display: flex;
    flex-direction: column;
   align-items: center;
}
body{
    background-image: url(2.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color:#363062;
}
.styleList{
    background-color: #CEE6F3;
    color: #BA704F;
    font-weight: bold;
    height: 40px;
    width: 90%;
    border-bottom: 1px solid #F99417;
    text-align: center;
    margin-top: 5px;
    list-style-type: none;
    font-size: 15px;
}



.completed{
    background-color: #EE9322;
    color: #4D4C7D;
    font-weight: bold;
    text-decoration: line-through;
    transition: all 1s ease;
}

@media all and (max-width:800px){
    h1{font-size: 40px;}
        .external{
            display: flex;
            flex-direction: column;
            justify-content: space-between;}
}
@media all and (max-width:500px){
    h1{font-size: 20px;}
    .external{
        display: flex;
        flex-direction: column;
        justify-content: space-between;}
}